<md-card *ngIf="course">
  <md-card-header>
    <md-card-title>
      {{course.name}} Scorecard
    </md-card-title>
  </md-card-header>

  <md-card-content>
    <table>
      <thead>
        <tr>
          <th>Hole</th>
          <th>Par</th>
          <th>Mts</th>
          <th>HCP</th>
          <th>Score</th>
          <th>Awrd</th>
          <th>Net</th>
          <th>Pts</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hole of course.holes">
          <td class="hole">{{hole.number}}</td>
          <td class="par">{{hole.par}}</td>
          <td class="distance">{{hole.distance.yellow}}</td>
          <td class="handicap">{{hole.hcp}}</td>
          <td class="score">
            <md-input-container dividerColor="warn">
              <input mdInput max="2" #score [id]="hole.number" type="number" required (ngModelChange)="updateScore($event, hole)" ngModel>
            </md-input-container>
          </td>
          <td class="awarded">
            {{calculatePoints(hole)}}
          </td>
          <td class="nett">
            {{calculateNettScore(score.value, hole)}}
          </td>
          <td class="points">
            {{calculatePointsForScore(score.value, hole)}}
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>

