md-card {
  display:flex;
  justify-content: flex-start;
  flex-direction: column;

  &.mat-card {
    padding-left: 10px;
    padding-right: 10px;
  }

  md-card-content {
    display: flex;
    width: 100%;


    md-input-container {
      width: 2.2em;

      input {
        text-align: center;
      }

    }

    table {
      text-align: center;
      width: 100%;

      tr {

        th,td {
          padding: 5px 0;

        }

        th {
          background: dodgerblue;
          color: white;
          font-weight: bold;
        }

        .score {
          color: blue;
        }

        .points {
          font-weight: bold;
        }

      }
    }
  }

}
